{% load static %}

<link rel="shortcut icon" type="image/x-icon" href="{% static 'main/imgs/theme/favicon.svg' %}"/>
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'main/css/plugins/slider-range.css' %}"/>
<link rel="stylesheet" href="{% static 'main/css/main.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>