{% extends "main/components/_layout.html" %}
{% load static %}
{% block title %}
    Payment Failed
{% endblock %}
{% block content %}
    <main class="main page-404">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">
                        <p class="mb-20"><img
                                src="{% static "main/imgs/peyment_failed.png" %}"
                                alt="" class="hover-up"/></p>
                        <h1 class="display-2 mb-30">Payment Failed</h1>
                        <p class="font-lg text-grey-700 mb-30">
                            Try Again Later
                        </p>

                        <a class="btn btn-default submit-auto-width font-xs hover-up mt-30"
                           href="{% url 'core:index' %}"><i class="fi-rs-home mr-5"></i> Back To Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}